{% extends 'control/partials/base.html' %}

{% load static %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% include 'partials/css_toastr.html' %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Packages</h5>
  </div>
  <div class="card-body">
    <table class="table table-striped align-middle" data-tabletype="dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action Credits</th>
          <th>Add To ListCredits</th>
          <th>Export Credits</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for package in packages %}
        <tr data-object="{{package.pk}}">
          <td>{{ package.name }}</td>
          <td>{{ package.price }}</td>
          <td>{{ package.datapackagebenefits.action_credits }}</td>
          <td>{{ package.datapackagebenefits.add_to_list_credits }}</td>
          <td>{{ package.datapackagebenefits.export_credits }}</td>
          <td>
            <a href="{% url 'control_panel:package-benefits-edit' package.pk %}" class="btn btn-primary">Edit credits</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
{% include 'partials/js_toastr.html' %}
<script src="{% static 'js/delete.init.js' %}"></script>
{% endblock %}
