[submodule "authentication"]
	path = authentication
	url = https://gitea.20111511.xyz/Sam/django-authentication
[submodule "core"]
	path = core
	url = https://gitea.20111511.xyz/Sam/django-core
[submodule "skote_static"]
	path = skote_static
	url = https://gitea.20111511.xyz/Sam/django-skote-static
[submodule "payments"]
	path = payments
	url = https://gitea.20111511.xyz/Sam/django-payments
[submodule "translations"]
	path = translations
	url = https://gitea.20111511.xyz/Sam/django-translations
[submodule "tracking"]
	path = tracking
	url = https://gitea.20111511.xyz/Sam/django-tracking
