*.pyc
media/
todo.txt
/static/
**/migrations/*.py
!**/migrations/__init__.py
db.sqlite3
todos/
celerybeat-schedule
countries.mmdb
tmp/
*.session
*.session-journal
*.lock
.coverage
*.sublime-workspace
