{% extends 'control/partials/base.html' %}
{% load static %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% endblock %}


{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Checkout email inputs</h5>
		<div class="table-responsive">
			<table class="table" data-tabletype="eventTable">
				<thead>
					<th>Date</th>
					<th>Country</th>
					<th>Language</th>
					<th>IP</th>
					<th>User Agent</th>
					<th>Email</th>
					<th>Cart</th>
					<th>UTM data</th>
				</thead>
				{% for event in registration_attempts %}
				<tr>
					<td>{{event.time|date:"Y-m-d H:i"}}</td>
					<td>{{event.country}}</td>
					<td>{{event.language}}</td>
					<td>{{event.ip}}</td>
					<td>{{event.user_agent}}</td>
					<td>{{event.data.email}}</td>
					<td>
						<p class="m-0"><strong>Package:</strong> {{event.data.package.name}}</p>	
						<p class="m-0"><strong>Total:</strong> {{event.data.package.total|floatformat:2}}</p>
					</td>
					<td>
						{% if event.utm_data.items %}
						{{event.utm_url}}
						{% else %}
						<p class="m-0">No data available</p>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
<script src="{% static 'js/tracking.init.js' %}"></script>
{% endblock %}
