{% extends 'control/partials/base.html' %}
{% load static %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% endblock %}


{% block content %}
{% for event in events %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{event.name}}</h5>
		<table class="table" data-tabletype="eventTable">
			<thead>
				<th>UTM</th>
				<th>Number</th>
			</thead>
			{% for data in event.data %}
			<tr>
				<td>{{data.utm_data}}</td>
				<td>{{data.utmcount}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
<script src="{% static 'js/tracking.init.js' %}"></script>
{% endblock %}
