{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h4>Choose a package</h4>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form|crispy}}
			<button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
		</form>
	</div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/form.init.js' %}"></script>
{% endblock %}
