{% extends 'control/partials/base.html' %}
{% load static %}

{% block extra_css %}
{% include 'partials/css_toastr.html' %}
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Users</h5>
		<p>Total users: {{users.total}}</p>
	</div>
</div>
{% endblock %}


{% block extra_javascript %}
{% include 'partials/js_toastr.html' %}
<script src="{% static 'libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/control_dashboard.init.js' %}"></script> 
{% endblock %}
