{% extends 'control/partials/base.html' %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">File</h5>
        <a href="{% url 'control_panel:data-upload-create' %}" class="btn btn-primary">
            Upload File
        </a>
    </div>
</div>

<div class="card">
  <div class="card-header">
    <h5 class="card-title">Data Uploads</h5>
  </div>
  <div class="card-body">
    <table class="table table-striped align-middle" data-tabletype="dataTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Size of Files</th>
          <th>Number of Files</th>
          <th>Processing Results</th>
          <th>Number of Rows</th>
          <th>Number of Columns</th>
        </tr>
      </thead>
      <tbody>
        {% for data_upload in object_list %}
        <tr>
          <td>{{ data_upload.date }}</td>
          <td>{{ data_upload.name }}</td>
          <td>{{ data_upload.str_size_of_files }}</td>
          <td>{{ data_upload.number_of_files }}</td>
          <td>
            {% for file in data_upload.uploadeddatafile_set.all %}
            <p><strong>{{ file }}:</strong> {{ file.celery_result.state }}</p>
            {% endfor %}
          </td>
          <td>{{ data_upload.number_of_rows }}</td>
          <td>{{ data_upload.number_of_columns }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
{% endblock %}
