{% extends 'control/partials/base.html' %}

{% load static %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% include 'partials/css_toastr.html' %}
{% include 'partials/css_sweet_alert.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" action="{% url 'control_panel:api-data-export-csv' %}" id="export-form">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-primary">CSV</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">History</h5>
        <table class="table table-striped" data-tabletype="dataTable">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Filters</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for data_export in object_list %}
                <tr>
                    <td>{{ data_export.created }}</td>
                    <td>{{ data_export.info }}</td>
                    <td>
                        <a href="{{ data_export.file.url }}" class="btn btn-primary">Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
{% include 'partials/js_toastr.html' %}
{% include 'partials/js_sweet_alert.html' %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script src="{% static 'js/main/control/data_export.js' %}"></script>
{% endblock %}
