{% load static %}
{% load user_utils %}

{% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            {% get_available_admin_pages user as permissions %}
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                {% if permissions.dashboard %}
                <li>
                    <a href="{% url 'control_panel:index' %}">
                        <i class="bx bx-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                {% endif %}

                {% include 'payments/control/payments_sidebar_links.html' with permissions=permissions %}

                {% if permissions.core_settings %}
                <li>
                    <a href="{% url 'control_panel:core-settings' %}" class="waves-effect">
                        <i class="bx bx-wrench"></i>
                        <span>Site settings</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.files %}
                <li>
                    <a href="{% url 'control_panel:files' %}" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span>Files</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.translations %}
                <li>
                    <a href="{% url 'control_panel:translations' %}" class="waves-effect">
                        <i class="mdi mdi-translate"></i>
                        <span>Translations</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.tracking %}
                <li>
                    <a href="{% url 'control_panel:tracking' %}" class="waves-effect">
                        <i class="mdi mdi-eye"></i>
                        <span>Tracking</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.emails %}
                <li>
                    <a href="{% url 'control_panel:emails' %}" class="waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span>Emails</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.data_uploads %}
                <li>
                    <a href="{% url 'control_panel:data-uploads' %}" class="waves-effect">
                        <i class="bx bx-upload"></i>
                        <span>Data Uploads</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.utm %}
                <li>
                    <a href="{% url 'control_panel:utm' %}" class="waves-effect">
                        <i class="mdi mdi-eye"></i>
                        <span>UTM</span>
                    </a>
                </li>
                {% endif %}

                {% if permissions.customer_list or permissions.staff_list %}
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user"></i>
                        <span>Users</span>
                    </a>

                    <ul class="sub-menu mm-collapse">
                        {% if permissions.customer_list %}
                        <li>
                            <a href="{% url 'control_panel:customer-list' %}" class="waves-effect">
                                <span>Customers</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if permissions.staff_list %}
                        <li>
                            <a href="{% url 'control_panel:staff-list' %}" class="waves-effect">
                                <span>Administrators</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
{% endblock %}
