{% load static %}
{% load user_utils %}
{% load control_panel_tags %}

{% get_available_admin_pages user as permissions %}
{% get_sidebar_layout as sidebar_items %}

{% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->            
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                {% for item in sidebar_items %}
                    {% if permissions|has_permission:item.permission %}
                        <li>
                            <a href="{% if item.url %}{% url item.url %}{% else %}javascript: void(0);{% endif %}" class="{% if item.subitems %}has-arrow waves-effect{% endif %}">
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                <span>{{ item.title }}</span>
                            </a>

                            {% if item.subitems %}
                                <ul class="sub-menu mm-collapse">
                                    {% for subitem in item.subitems %}
                                        {% if permissions|has_permission:subitem.permission %}
                                            <li>
                                                <a href="{% url subitem.url %}" class="waves-effect">
                                                    <span>{{ subitem.title }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
{% endblock %}
