{% load crispy_forms_tags %}

<div class="modal hide fade bs-example-modal-center" tabindex="-1" role="dialog" id="create-user-modal" data-modal-expanded="{{creation_form.expanded}}">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create New User</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				{% crispy creation_form %}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
