{% extends 'control/partials/base.html' %}
{% load crispy_forms_tags %}

{% block sidebar %}
{% include 'control/partials/sidebar.html' %}
{% endblock %}

{% block content %}
<div calss="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h2>{{customer.username}}</h2>
				<div class="mt-3">
					<h3>Edit:</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-4">
								{{form.first_name|as_crispy_field}}
							</div>
							<div class="col-4">
								{{form.last_name|as_crispy_field}}
							</div>
							<div class="col-4">
								{{form.email|as_crispy_field}}
							</div>
						</div>
						<input type="submit" class="btn btn-primary">
					</form>
				</div>
				<div class="mt-3">
					<h3>Information:</h3>
					<p class="m-1">
						<strong>Country:</strong> 
						{% if object.country %}
						{{object.country}}
						{% else %}
						Unknown
						{% endif %}
					</p>
					<p class="m-1"><strong>Language:</strong> {{object.language}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
