{% extends 'control/partials/base.html' %}

{% block content %}
<div class="card">
	<div class="card-body">
		{% for message in messages %}
			<div class="alert {{ message.tags }} mb-4" role="alert">
				<strong>{{ message }}</strong>
			</div>
		{% endfor %} 
		<h5 class="card-title">{{file_name}}</h5>
		<form method="post">
			{% csrf_token %}
			<textarea type="textarea" class="form-control" name="content" cols="40" rows="10">{{file_content}}</textarea>
			<input type="submit" class="btn btn-primary mt-1">
		</form>
	</div>
</div>
{% endblock %}
