{% extends 'partials/base.html' %}

{% load static %}


{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% include 'partials/css_toastr.html' %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.6.2/css/select.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.4.1/css/dataTables.dateTime.min.css">
{% endblock %}


{% block content %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title">JUST FUNDED</h5>
  </div>

  <div class="card-body">
    <div class="mb-3">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="add-to-list" data-bs-toggle="dropdown" aria-expanded="false">
          Add to List
        </button>
        <ul class="dropdown-menu" aria-labelledby="add-to-list">
          {% for datalist in datalists %}
          <li><button class="dropdown-item" onclick="AddSelectedToList('{% url 'main:api-datalist-update' pk=datalist.pk %}')">{{ datalist.name }}</button></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="table-responsive">
      <table id="data-table" class="table table-striped align-middle display text-nowrap" data-tabletype="dataTableServer">
        <thead>
          <tr>
            <th></th>
            {% for field in model_fields %}
              <th>{{ field.verbose_name }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody class="align-top">
        </tbody>

        <tfoot>
          <th></th>
          {% for field in model_fields %}

            {% if field.name in searchable_fields.char %}
            <th data-filter-type="char">
              <input class="form-control" type="text" placeholder="Search {{ field.verbose_name }}" />
            </th>

            {% elif field.name in searchable_fields.date_range %}
            <th data-filter-type="dateRange" data-field-name="{{ field.name }}">
              <input class="form-control" type="text" data-range="start" placeholder="Range Start">
              <input class="form-control" type="text" data-range="end" placeholder="Range End">
            </th>

            {% elif field.name in searchable_fields.int_range %}
            <th data-filter-type="intRange" data-field-name="{{ field.name }}">
              <input class="form-control" type="text" data-range="start" placeholder="Range Start">
              <input class="form-control" type="text" data-range="end" placeholder="Range End">
            </th>

            {% else %}
            <th></th>
            {% endif %}

          {% endfor %}
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
{% include 'partials/js_toastr.html' %}
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.4.1/js/dataTables.dateTime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>

<script>
const ADD_TO_LIST_BUTTON_TEMPLATE = `
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="add-to-list" data-bs-toggle="dropdown" aria-expanded="false">
    Add to List To Reveal
  </button>
  <ul class="dropdown-menu" aria-labelledby="add-to-list">
    {% for datalist in datalists %}
    <li><button class="dropdown-item" onclick="AddToList('{% url 'main:api-datalist-update' pk=datalist.pk %}', [{data-id}])">{{ datalist.name }}</button></li>
    {% endfor %}
  </ul>
</div>
`
const TABLE_API_URL = "{% url 'main:api-data-list' %}?format=datatables";

function renderFunction(data, type, row) {
  if (data == "*hidden*") {
    return ADD_TO_LIST_BUTTON_TEMPLATE.replace('{data-id}', row.id);
  } else {
    return data;
  }
}

const TABLE_COLUMNS = [
    { data: "" },
    {% for field in model_fields %}
      {% if field.name in hidden_fields %}
      {
        data: "{{ field.name }}",
        render: renderFunction
      },
      {% else %}
      { data: "{{ field.name }}" },
      {% endif %}
    {% endfor %}
];
</script>
<script src="{% static 'js/main/data/data_table.js' %}"></script>
{% endblock %}
