{% load static %}
{% load i18n %}

{% block header %}
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="{{ SITE_SETTINGS.index_page_url }}" class="logo logo-light">
                    <span class="logo-sm">
                        {% if SITE_SETTINGS.logo_small_light %}
                        <img src="{{ SITE_SETTINGS.logo_small_light.url }}" alt="" height="22">
                        {% endif %}
                    </span>
                    <span class="logo-lg">
                        {% if SITE_SETTINGS.logo_wide_light %}
                        <img src="{{ SITE_SETTINGS.logo_wide_light.url }}" alt="" height="22">
                        {% endif %}
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="d-flex">
            {% block limited_action_usage_dropdown %}
            {% if CREDITS_USAGE %}
            {% include 'partials/limited_action_usage_dropdown.html' %}
            {% endif %}
            {% endblock %}

            {% block currency_dropdown %}
            {% if CURRENCIES %}
            {% include 'partials/currency_dropdown.html' %}
            {% endif %}
            {% endblock %}

            {% block language_dropdown %}
            {% if request.languages %}
            {% include 'translations/partials/language_dropdown.html' %}
            {% endif %}
            {% endblock %}

            {% block notifications_dropdown %}
            {% if SHOW_NOTIFICATIONS %}
            {% include 'notifications/partials/notifications_dropdown.html' %}
            {% endif %}
            {% endblock %}

            {# TODO: move this block to a separate file #}
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-inline-block ms-1">
                        {% if user.is_authenticated %}
                        {{ user.first_name }}
                        {% else %}
                        {% translate "Login" %}
                        {% endif %}
                    </span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'authentication:profile-edit' %}">
                        <i class="bx bx-user font-size-16 align-middle me-1"></i>
                        {% translate "Edit Profile" %}
                    </a>

                    <a class="dropdown-item" href="{% url 'payments:subscriptions' %}">
                        <i class="fas fa-gem font-size-16 align-middle me-1"></i>
                        {% translate "Subscriptions" %}
                    </a>

                    <a class="dropdown-item" href="{% url 'feature_requests:new-feature' %}">
                        <i class="fas fa-plus font-size-16 align-middle me-1"></i>
                        {% translate "New Feature" %}
                    </a>

                    <a class="dropdown-item" href="{% url 'support' %}">
                        <i class="bx bx-support font-size-16 align-middle me-1"></i>
                        {% translate "Support" %}
                    </a>

                    <a class="dropdown-item text-danger" href="{% url 'authentication:logout' %}">
                        <i class="bx bx-log-out font-size-16 align-middle me-1 text-danger"></i>
                        {% translate "Log Out" %}
                    </a>

                    {% else %}
                    <a class="dropdown-item" href="{% url 'authentication:login' %}">
                        <i class="bx bx-key font-size-16 align-middle me-1"></i>
                        {% translate "Existing Account" %}
                    </a>
                    <a class="dropdown-item" href="{% url 'authentication:register' %}">
                        <i class="bx dripicons-user-id font-size-16 align-middle me-1"></i>
                        {% translate "Registration" %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
