{% block limited_action_usage_dropdown %}
<div class="dropdown d-inline-block">
  <button class="btn header-item waves-effect" type="button" id="usageDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Credits
  </button>
  <div class="dropdown-menu" aria-labelledby="usageDropdown">
    {% for action, info in CREDITS_USAGE.items %}
    <span class="dropdown-item" href="#">{{ action }}: {{ info.remaining }} / {{ info.credits }}</span>
    {% endfor %}
  </div>
</div>
{% endblock %}
