{% extends 'partials/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% include 'partials/css_datatables.html' %}
{% include 'partials/css_toastr.html' %}
{% endblock %}


{% block content %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title">LIST</h5>
  </div>

  <div class="card-body">
    <div class="mb-5">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="addListDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bx bx-plus font-size-16 align-middle me-2"></i> Add List
        </button>
        <div class="dropdown-menu" aria-labelledby="addListDropdown">
          <form class="dropdown-item p-3" method="post" action="{% url 'main:datalist-create' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <table class="table table-striped" data-tabletype="dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Modified</th>
          <th>Records</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for datalist in object_list %}
        <tr data-object="{{ datalist.pk }}">
          <td>{{ datalist.name }}</td>
          <td>{{ datalist.last_modified|date:"M d, Y g:i A" }}</td>
          <td>{{ datalist.data.count }}</td>
          <td>
            <div class="d-flex gap-3">
              {# <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a> #}
              <div class="dropdown">
                <a href="#" class="dropdown-toggle text-primary" role="button" id="downloadDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi mdi-download font-size-18"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="downloadDropdown">
                  <a href="{% url 'main:datalist-export-csv' pk=datalist.pk %}" class="dropdown-item" type="button">csv</a>
                  <a href="{% url 'main:datalist-export-xls' pk=datalist.pk %}" class="dropdown-item" type="button">xls</a>
                </div>
              </div>
              <a href="javascript:void(0);" class="text-danger" onclick="destroyObject('{% url 'main:api-datalist-delete' pk=datalist.pk %}', {{ datalist.pk }})"><i class="mdi mdi-delete font-size-18"></i></a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block extra_javascript %}
{% include 'partials/js_datatables.html' %}
{% include 'partials/js_toastr.html' %}
<script src="{% static 'js/delete.init.js' %}"></script>
{% endblock %}
